body {
    padding-top: 50px;
    padding-bottom: 20px;
}

html, body { 
  background: url(/Content/Images/blood_splatter_background-min.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set iFrame to be the width of the container. Will be used by youtube video*/
iframe {
    display:block;
    width:100%;
}

.list-services {
    float: right;
    padding: 2px 0 0 0;
    list-style: none;
}

.list-services li {
    float: left;
    padding: 0;
}

.list-services img {
    max-width: 25%;
}

.list-services li a {
    display: inline-block;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
