@{
    ViewBag.Title = "About Jugs of Blood";
}
<div class="container">
    <div class="row">
        <h2>@ViewBag.Title.</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>@ViewBag.Message</h4>
        </div>
        <hr class="featurette-divider">
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" width="400" src="/Content/Images/band/METAL_MATT.png" alt="">
            <h2 class="featurette-heading">
                THE REVEREND DOCTOR METAL MATT
                <span class="text-muted">LEAD GUITAR AND YELLING</span>
            </h2>
            <p>
                ROLE IN BAND: GUITAR AND YELLING<br>
                HEIGHT: 5’11”<br>
                ASTROLOGICAL SIGN: LEO<br>
                GEAR: GIBSON ‘67 RI FLYING V, PEAVEY 6505+ HEAD, MARSHALL MF280 CAB, TONE WICKER BIG MUFF, DUNLOP ORIGINAL CRYBABY, MXR CARBON COPY, MXR VARIPHASE<br>
                FAVORITE FOOD: CLUB SANDWICH<br>
                FAVORITE DRINK: VODKA ANYTHING<br>
                FAVORITE COLOR: BLONDE AND CHROME<br>
                FAVORITE METAL SUBGENRE: DOOM<br>
                FAVORITE JUGS OF BLOOD SONG: DEATH BY TOASTER<br>
                BOXERS OR BRIEFS: UNDER ARMOUR BOXER BRIEFS ALL THE WAY<br>
                DOGS OR CATS: DOGS FOR PETS, CATS FOR HATS<br>
                LOVER OR FIGHTER: LOVER OF ALL THE FEMALE NAUGHTY BITS. FIGHTER FOR HEAVY METAL AND EQUALITY.<br>
                PAPER OR PLASTIC: UM.<br>
                CELEBRITY CRUSH: JENNIFER LAWRENCE<br>
                IF YOU HAD A TIME MACHINE: I’D GO BACK AND STOP BON JOVI FROM EVER BECOMING A BAND<br>
                IF YOU HAD A MILLION DOLLARS: I WOULDN’T LIVE TO SEE THE SUNSET<br>
                IF YOU HAD A SPACESHIP: I’D SELL IT TO THE GOVERNMENT FOR A THOUSAND POUNDS OF COCAINE<br>
                HOW MANY BEERS: ALL THE BEERS<br>
                ANY WORDS OF ADVICE: GET A DEATH GRIP ON A POSITIVE MENTAL ATTITUDE, DRINK AND BEAT THE SHIT OUT OF GUITARS AND ALL YOUR PROBLEMS WILL TURN INTO OPPORTUNITIES.
            </p>
        </div>
        <hr class="featurette-divider">
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" width="400" src="/Content/Images/band/DANNY_DESTRUCTION.png" alt="">
            <h2>
                DANNY DESTRUCTION MOTHERFUCKIN' ESQUIRE
                <span class="text-muted">RHYTHM GUITAR</span>
            </h2>
            <p>
                NAME:  DANNY DESTRUCTION MOTHER FUCKIN ESQUIRE<br>
                ROLE IN BAND:  GUITAR.  ONLY THE TOP TWO STRINGS THOUGH.<br>
                HEIGHT:  5’8<br>
                ASTROLOGICAL SIGN:  GEMINI, MOST OF THE TIME<br>
                GEAR:  BC RICH MOCKING BIRD PRO X, ESP LTD F-250 GUITARS.  AN AMP HANDED DOWN FROM LEGENDARY GUITARIST DUSTY DUNKLE OF THE DUNKLE CLAN.  VARIOUS PEDALS THAT MATT RECOMMENDS.  THAT IS WAY TOO SOPHISTIMACATED FOR MY BLOOD.<br>
                FAVORITE FOOD:  GYROS<br>
                FAVORITE DRINK:  WATER.  MANGO JUICE.<br>
                FAVORITE COLOR:  BLACK.<br>
                FAVORITE METAL SUBGENRE:  MELO DEATH/INDUSTRIAL/DEATHCORE<br>
                FAVORITE JUGS OF BLOOD SONG:  NUKULELE<br>
                BOXERS OR BRIEFS:  BOXERS ALL DAY.<br>
                DOGS OR CATS:  CATS.  ALSO ALL DAY.<br>
                LOVER OR FIGHTER:  APATHY<br>
                PAPER OR PLASTIC:  GRAPHITE<br>
                CELEBRITY CRUSH: SADE<br>
                IF YOU HAD A TIME MACHINE:  :(<br>
                IF YOU HAD A MILLION DOLLARS: IN WHICH TIMELINE?<br>
                HOW MANY BEERS:<br>
                ANY WORDS OF ADVICE:
            </p>
        </div>
        <hr class="featurette-divider">
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" width="400" src="/Content/Images/band/DON_COCHISE.png" alt="">
            <h2>
                DON COCHISE THE SONIC AVENGER
                <span class="text-muted">BASS</span>
            </h2>
            <p>
                NAME: DON COCHISE THE SONIC AVENGER<br>
                ROLE IN BAND: BASS<br>
                HEIGHT: 6’<br>
                ASTROLOGICAL SIGN: LEO<br>
                GEAR:<br>
                FAVORITE FOOD: LUMPIA - THAT’S PHILLIPPINO EGG ROLLS YOU IGNORANT FUCK<br>
                FAVORITE DRINK: BEER<br>
                FAVORITE COLOR: ASIDE FROM POLKA DOT AND CLEAR I WOULD SAY PURPLE<br>
                FAVORITE METAL SUBGENRE: DOOM<br>
                FAVORITE JUGS OF BLOOD SONG: UH, PROBABLY SHART. I LIKE THE IDEA OF IT.<br>
                BOXERS OR BRIEFS: OTHER<br>
                DOGS OR CATS: CHINESE FOOD MAKES ME SICK. THAT’S NOT RACIST. IT’S A CULTURE THING.<br>
                LOVER OR FIGHTER: BOTH AT THE SAME TIME. IT FEELS BETTER THAT WAY.<br>
                PAPER OR PLASTIC: LATEX<br>
                CELEBRITY CRUSH: JENNY MCCARTHY FROM DAY ONE, DUDE.<br>
                IF YOU HAD A TIME MACHINE:<br>
                IF YOU HAD A MILLION DOLLARS: I WOULDN’T THE NEXT DAY<br>
                HOW MANY BEERS: TAKE THE WEIGHT OF YOUR LIVER, DIVIDE BY TWO, MULTIPLY THAT BY A HUNDRED AND ADD A BURRITO.<br>
                ANY WORDS OF ADVICE: WORDS OF ADVICE? IRISH SPRING BAR SOAP. THAT’S MY WORDS OF ADVICE.<br>
            </p>
        </div>
        <hr class="featurette-divider">
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" width="400" src="/Content/Images/band/CAPTAIN_RAYZOR.png" alt="">
            <h2>
                CAPTAIN RAYZOR McBLADE
                <span class="text-muted">DRUMS</span>
            </h2>
            <p>
                NAME: Captain Rayzor Danger McBlade<br>
                ROLE IN BAND: Be on time. Hit things<br>
                HEIGHT: Short = 5’ 5”<br>
                ASTROLOGICAL SIGN: Decapricorn<br>
                GEAR: Logs, Barrels, Buckets, & Garbage can lids<br>
                FAVORITE FOOD: Bacon<br>
                FAVORITE DRINK: Pepsi<br>
                FAVORITE COLOR: Grey<br>
                FAVORITE METAL SUBGENRE: Melvins / Stravinski<br>
                FAVORITE JUGS OF BLOOD SONG: It changes from moment to moment…….usually the next one<br>
                BOXERS OR BRIEFS: Commando or PJ’s<br>
                DOGS OR CATS: People as pets<br>
                LOVER OR FIGHTER: A genius at both<br>
                PAPER OR PLASTIC: People or bags?<br>
                CELEBRITY CRUSH: Lassie<br>
                IF YOU HAD A TIME MACHINE: It wouldn’t work by now, obviously…….<br>
                IF YOU HAD A MILLION DOLLARS: I’d have a million dollars.<br>
                HOW MANY BEERS: 3<br>
                ANY WORDS OF ADVICE: Don’t read this !<br>
            </p>
        </div>
    </div>
</div>
