@{
    ViewBag.Title = "About Jugs of Blood";
}
<div class="container">
    <div class="row">
        <h2>@ViewBag.Title.</h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>@ViewBag.Message</h4>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                THE REVEREND DOCTOR METAL MATT
                <small>LEAD GUITAR AND YELLING</small>
            </h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                TDANNY DESTRUCTION MOTHERFUCKIN' ESQUIRE
                <small>RHYTHM GUITAR</small>
            </h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                DON COCHISE THE SONIC AVENGER
                <small>BASS</small>
            </h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                CAPTAIN RAYZOR McBLADE
                <small>DRUMS</small>
            </h3>
        </div>
    </div>
</div>
