@{
    ViewBag.Title = "Contact";
}
<div class="container" style="background-color: #000000; background-color: rgba(0, 0, 0, 0.75); border-radius: 6px; padding: 35px;">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <strong>Booking Agent:</strong> <a href="mailto:jugsofbloodtacoma@gmail.com">jugsofbloodtacoma@gmail.com</a>
    </address>
</div>