@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Booking Agent:</strong> <a href="mailto:jugsofbloodtacoma@gmail.com">jugsofbloodtacoma@gmail.com</a>
</address>