@{
    ViewBag.Title = "Jugs of Blood - Home";
}

<div class="jumbotron" style="text-align: center">
    <img src="~/Content/Images/logo_v3.png" style="max-width: 70%" />
</div>

@*<div class="row panel panel-body">
    <div class="col-md-4">
        <h2>Latest News</h2>
        <p>
            Need to have a drop down list in here for news
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tour Dates</h2>
        <p>Need to have a drop down list in here for tour dates</p>
    </div>
    <div class="col-md-4">
        <h2>Store</h2>
        <p>Here we can have a link to the a store where people can buy songs</p>
    </div>
</div>*@

<div class="row panel panel-body">
    <div class="col-md-4">
        <h2>Upcoming Events</h2>
        <p>
            The next 2-3 events will show here
        </p>
    </div>
    <div class="col-md-4">
        <h2>Latest Video</h2>
        <iframe src="https://www.youtube.com/embed/lARTNfMncWI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            JUGS OF BLOOD IS A THRASH/DOOM/DEATH METAL BAND FROM THE FINE CITY OF AUBURN, WA. FORMED IN 2012, THEY COMBINE VISCERAL OLD-SCHOOL RIFFS WITH SATURATED DOOM AND A D.I.Y. AND G.F.Y. AESTHETIC. THEIR DEBUT ALBUM ‘OUT THE ASS’ WAS COMPLETED IN JULY 2014 AND HAS BEEN DESCRIBED AS “STUPID LOUD” AND “TOTALLY FUCKING METAL.”
        </p>
        <p>
            JUGS OF BLOOD HATES PUTTING TOGETHER PROMOTIONAL SHIT LIKE THIS SO THEY WOULD APPRECIATE IT IF YOU GAVE THEM A RECORD DEAL OR BOOKED THEM AT YOUR FINE ESTABLISHMENT.
        </p>
    </div>
</div>
